/* ----------------------------------------------------------------
  各ページ共通
---------------------------------------------------------------- */
//メインコンテンツ
.site_main {
}
@include res_min( $break ) {
  .site_main {
  }
}


// section
.sec {
  & > .inner {
    padding-top: 70px;
    padding-bottom: 80px;
    @include maxW;
  }
}
@include res_min( $break ) {
  .sec {
    & > .inner {
      padding-top: 100px;
      padding-bottom: 120px;
    }
  }
}


// title
.sec_title {
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  line-height: calc(50 / 30);
  letter-spacing: 0.1em;
  &::before{
    content: attr(data-en);
    display: block;
    margin-bottom: 0.3em;
    font-family: $ff-en;
    font-size: 4rem;
    font-weight: bold;
    line-height: calc(45 / 40);
    letter-spacing: 0.1em;
    color: #B98966;
  }
}
@include res_min( $break ) {
  .sec_title {
    font-size: 3.6rem;
    line-height: calc(64 / 36);
    &::before{
      margin-bottom: 0;
      font-size: 8rem;
      line-height: calc(80 / 50);
    }
  }
}

.sec_sub_title {
  margin-top: 70px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 900;
  letter-spacing: 0.1em;
  span {
    display: block;
    font-size: 1.6rem;
  }
}
@include res_min( $break ) {
  .sec_sub_title {
    margin-top: 95px;
    margin-bottom: 30px;
    font-size: 3.2rem;
  }
}


/* ------------------------------------
//  パーツ
// ----------------------------------*/
.indent_text
{
  margin-top: .5em;
  padding-left: 1em;
  text-indent: -1.1em;
  letter-spacing: 0.1em;
}
.indent_text::before
{
  content: '・';
}
@include res_min( $break ) {
  .indent_text
  {
    margin-top: 0;
  }
}


// 注釈
.note {
  position: relative;
  padding-left: 1.1em;
  margin-top: .5em;
  line-height: 1.5;
  &::before {
    content: '・';
    position: absolute;
    left: 0;
    top: 0;
  }
}

// マーカー
.marker {
  background-color: #fff4a3;
  padding: 0 .3em;
  margin: 0 .3em;
}


// アンカーリンク
.anchor {
  display: block;
  padding-top: 40px;
  margin-top: -40px;
}
@include res_min( $break ) {
  .anchor {
    padding-top: 80px;
    margin-top: -80px;
  }
}