/* ----------------------------------------------------------------
  コンテンツごと
---------------------------------------------------------------- */
.kv {
  padding-top: 27.733%;
  height: 226.67vw;
  text-align: center;
  background-image: url(./assets/img/bg_kv_small.jpg);
  background-position: center top;
  background-size: cover;
  position: relative;
  z-index: 1;
  .kv_logo {
    width: 76.533%;
    margin: 0 auto;
  }
}
@include res_min( $break ) {
  .kv {
    padding-top: 8.345%;
    height: 65.8vw;
    background-image: url(./assets/img/bg_kv_large.jpg);
    .kv_logo {
      width: 31.48%;
    }
  }
}


// コンセプト
.sec_concept {
  position: relative;
  margin-top: -6vw;
  padding-bottom: 80px;
  z-index: 2;
  .concept_title {
    padding-bottom: 0.333em;
    border-bottom: 5px solid $baseColor;
    font-size: 3rem;
    font-weight: 900;
    line-height: calc(37 / 30);
    letter-spacing: 0.1em;
    &::before{
      content: attr(data-en);
      display: block;
      margin-bottom: 25px;
      font-family: $ff-en;
      font-size: 2rem;
      font-weight: bold;
      line-height: 1;
      letter-spacing: 0.1em;
      color: #B98966;
    }
  }
  .concept_title_sub{
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 600;
    line-height: calc(21 / 20);
    letter-spacing: 0.1em;
  }
  .contents_block1 {
    .inner {
      padding: 0 15px;
    }
  }
  .contents_block2 {
    background-image: url(./assets/img/bg_concept_contents_block2_small.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 96%;
    margin-top: 15px;
    padding-top: 60%;
    .inner {
      padding: 0 15px;
    }
  }
}
@include res_min( $break ) {
  .sec_concept {
    margin-top: -3.66%;
    padding-bottom: 120px;
    .concept_title {
      padding-top: 4%;
      width: 64.4%;

      padding-bottom: 0.35em;
      border-bottom: 5px solid $baseColor;
      font-size: 5.2rem;
      font-weight: 900;
      line-height: calc(64 / 52);
      &::before{
        margin-bottom: 25px;
      }
    }
    .concept_title_sub{
      margin-top: 22px;
      margin-bottom: 60px;
      font-size: 2.4rem;
    }
    .contents_block1 {
      background-image: url(./assets/img/bg_concept_contents_block1.png);
      background-repeat: no-repeat;
      background-position: right top;
      background-size: 36.75%;
      padding-bottom: 74px;
      @include res_min( 1490 ) {
        background-size: auto 100%;
      }
      .inner {
        padding: 0 5%;
        margin: 0 auto;
        max-width: calc(932px + 10%);
      }
      p {
        margin-left: 0;
        width: 64.4%;
      }
    }
    .contents_block2 {
      background-image: url(./assets/img/bg_concept_contents_block2_large.png);
      background-size: 34.77%;
    @include res_min( 1490 ) {
      background-size: auto 100%;
    }
      padding-top: 0;
      .inner {
        padding: 0 5%;
        margin: 0 auto;
        max-width: calc(932px + 10%);
      }
      p {
        margin-right: 0;
        width: 64.4%;
      }
    }
  }
}


// about
.sec_about {
  background-color: #F7F7F7;
}

.about_block {
  margin-top: 40px;
  .about_block_title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 2px solid $mainColor;
    border-radius: 6px;
    height: 79px;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    position: relative;
    &::after {
      content: '';
      width: 20px;
      height: 20px;
      background-image: url(./assets/img/ico_arrow_brawn.svg);
      position: absolute;
      left: calc(50% - 10px);
      bottom: -20px;
    }
  }
  .about_block_text {
    margin-top: 30px;
    p {
      letter-spacing: 0;
    }
  }
}
@include res_min( $break ) {
  .about_block {
    @include flex(nowrap, flex-start, stretch);
    &:first-of-type {
      margin-top: 90px;
      align-items: stretch;
    }
    .about_block_title {
      flex-basis: 37.9%;
      margin-top: .25em;
      white-space: nowrap;
      &::after {
        left: auto;
        right: -20px;
        top: calc(50% - 10px);
        bottom: auto;
        transform: rotate(-90deg);
      }
    }
    .about_block_text {
      margin-top: 0;
      flex-basis: 62.1%;
      padding-left: 46px;
      p {
        letter-spacing: 0.1em;
      }
    }
  }
}


.about_step_wrap {}
.about_step {
  border: 2px solid $mainColor;
  border-radius: 10px;
  margin-top: 16px;
  position: relative;
  @include flex(nowrap, flex-start, stretch);
  flex-direction: column;
  &:not(:last-of-type):before {
    content: '';
    width: 4px;
    height: 16px;
    background-color: $mainColor;
    position: absolute;
    left: calc(50% - 2px);
    bottom: -18px;
  }
  .about_step_num {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid $mainColor;
    height: 45px;
    font-family: $ff-en;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 0.1em;
    color: $mainColor;
  }
  .about_step_title {
    padding: 16px 0;
    margin: 0 18px;
    border-bottom: 1px solid $mainColor;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.1667;
    letter-spacing: 0.1em;
    color: $mainColor;
  }
  .about_step_text {
    width: 100%;
    padding: 10px 18px;
    font-size: 1.3rem;
    line-height: 1.54;
    letter-spacing: 0;
  }
}
@include res_min( $break ) {
  .about_step_wrap {}
  .about_step {
    flex-direction: row;
    &:not(:last-of-type):before {
      left: 57px;
    }
    background-color: #fff;
    .about_step_num {
      flex-basis: 12.5%;
      white-space: nowrap;
      background-color: $mainColor;
      border-radius: 7px 0 0 7px;
      border-bottom: none;
      border-right: 1px solid $mainColor;
      color: #fff;
      height: auto;
    }
    .about_step_title {
      flex-basis: 53%;
      align-self: center;
      padding: 25px 0 25px 28px;
      margin: 0;
      border-bottom: none;
    }
    .about_step_text {
      flex-basis: 34.5%;
      align-self: center;
      border-left: 1px solid $mainColor;
      padding: 5px 10px 5px 32px;
      font-size: 1.3rem;
      letter-spacing: 0.1em;
    }
  }
}


.about_gain_wrap {}
.about_gain {
  margin-top: 50px;
  &:first-of-type {
    margin-top: -5px;
  }
  .about_gain_num {
    font-family: $ff-en;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 1;
    text-align: center;
    position: relative;
    z-index: 1;
    &::before {
      content: '';
      width: 76px;
      height: 100%;
      background-color: #F9F8F6;
      position: absolute;
      left: calc(50% - 38px);
      z-index: -1;
    }
    &::after {
      content: '';
      width: 100%;
      height: 2px;
      background: $mainColor;
      position: absolute;
      left: 0;
      top: calc(50% - 1px);
      z-index: -2;
    }
  }
  .about_gain_image {
    margin: 25px auto 0;
    width: 80%;
  }
  .about_gain_text {
    margin-top: 30px;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-align: center;
  }
}
@include res_min( $break ) {
  .about_gain_wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3%;
  }
  .about_gain {
    margin-top: 0;
    &:first-of-type {
      margin-top: 0;
    }
    .about_gain_image {
      margin-top: 20px;
      width: 95%;
    }
  }
}


.about_voice_wrap {}
.about_voice {
  border: 2px solid $mainColor;
  border-radius: 20px;
  padding: 20px 26px 26px;
  margin-top: 12px;
  font-size: 1.4rem;
  line-height: 1.78;
  letter-spacing: 0;
  .about_voice_title {
    padding-bottom: 15px;
    font-weight: 600;
    border-bottom: 1px solid $mainColor;
  }
  .about_voice_text {
    margin-top: 17px;
  }
}
@include res_min( $break ) {
  .about_voice_wrap {
    margin-top: -28px;
    @include flex(wrap, flex-start, flex-start);
  }
  .about_voice {
    flex-basis: calc(33.333% - 18.6667px);
    margin: 28px 28px 0 0;
    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }
}


.about_obuse {
  margin-top: 25px;
  position: relative;

  .about_obuse_title {
    display: block;
    text-align: center;
    line-height: 1;
    position: absolute;
    left: 50%;
    top: -11px;
    transform: translateX(-50%);
    img {
      max-width: 109px;
    }
  }

  .about_obuse_contents {
    .about_obuse_contents_text {
      h3 {
        font-size: 2.6rem;
        font-weight: 900;
      }
      p {
        margin-top: 18px;
        letter-spacing: 0;
      }
    }
    .about_obuse_contents_img {
      margin: 25px auto 0;
      width: 70%;
    }
  }

  .about_more {
    margin-top: 40px;
    h4 {
      font-weight: 600;
      letter-spacing: 0.1em;
    }
    .about_more_list {
      margin-top: 10px;
      .list_item {
        a {
          display: flex;
          height: 80px;
          padding: 0 20px;
          margin-top: 8px;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          line-height: 1.3;
          letter-spacing: .05em;
          border-radius: 6px;
          span {
            font-size: 1.2rem;
          }
          em {
            margin-top: 2px;
            font-size: 2rem;
            &::after {
              content: '';
              width: 14px;
              height: 14px;
              display: inline-block;
              margin-left: 8px;
            }
          }
          &:link, &:visited {
            text-decoration: none;
            background-color: #fff;
            border: 1px solid $baseColor;
            em::after {
              background-image: url(./assets/img/ico_blank.svg);
            }
          }
          &:hover, &:active {
            opacity: 1;
            color: #fff;
            background-color: $brown;
            border-color: $brown;
            em::after {
              background-image: url(./assets/img/ico_blank_white.svg);
            }
          }
        }
        &__conpact a {
          em {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
@include res_min( $break ) {
  .about_obuse {
    margin-top: 90px;
    .about_obuse_contents {
      @include flex(nowrap, space-between, stretch);
      .about_obuse_contents_text {
        flex-basis: 57%;
        h3 {
          font-size: 2.8rem;
        }
        p {
          margin-top: 0;
          letter-spacing: 0.1em;
        }
      }
      .about_obuse_contents_img {
        margin-top: 5px;
        flex-basis: 43%;
        text-align: center;
        img{
          width: 58.5%;
          max-width: 234px;
        }
      }
    }

    .about_more {
      margin-top: 38px;
      .about_more_list {
        margin-top: 4px;
        @include flex(wrap, space-between, stretch);
        .list_item {
          flex-basis: calc(50% - 6px);
          a {
            margin-top: 12px;
          }
          &__conpact a {
            em {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}


// プレエントリーはこちらから
.sec_inquery {
  background-color: #A77953;
  padding: 140px 0;
  text-align: center;
  background-image: url(./assets/img/bg_inquery1.png), url(./assets/img/bg_inquery2.png);
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  background-size: 100%;
  .btn_inquery {
    background-color: $orange;
    border-radius: 6px;
    padding: 20px 10px;
    width: 80%;
    max-width: 600px;
    font-size: 2rem;
    letter-spacing: .05em;
    font-weight: 600;
    &:link, &:visited {
      text-decoration: none;
    }
    &:hover, &:active {
      background-color: $brown;
      color: #fff;
    }
  }
}
@include res_min( $break ) {
  .sec_inquery {
    padding: 150px 0;
    background-image: url(assets/img/bg_inquery1-l.png), url(assets/img/bg_inquery2-l.png);
    background-size: auto 100%;
    .btn_inquery {
      padding: 30px 20px;
    }
  }
}


// 申込みはこちら
.sec_apply{
  .inner{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  background-color: #406046;
  text-align: center;
  .apply_text{
    font-size: 1.6rem;
    font-weight: 900;
    letter-spacing: 0.1em;
    line-height: 1.4;
    color: #fff;
    em{
      display: block;
      margin-top: 0.2em;
      font-size: min(7.5vw, 2.8rem);
    }
  }
  .btn_inquery {
    background-color: $orange;
    border-radius: 6px;
    margin-top: 15px;
    padding: 13px 10px;
    width: 87%;
    max-width: 400px;
    font-size: 1.5rem;
    letter-spacing: .1em;
    font-weight: 600;
    &:link, &:visited {
      text-decoration: none;
    }
    &:hover, &:active {
      background-color: $brown;
      color: #fff;
    }
  }
}
@include res_min( $break ) {
  .sec_apply{
    .inner{
      padding-top: 75px;
      padding-bottom: 80px;
    }
    .apply_text{
      em{
        margin-top: 0.1em;
        font-size: 3.2rem;
      }
    }
    .btn_inquery {
      margin-top: 10px;
      padding: 15px 20px;
      width: 87%;
      max-width: 400px;
      font-size: 1.5rem;
      letter-spacing: .1em;
      font-weight: 600;
      &:link, &:visited {
        text-decoration: none;
      }
      &:hover, &:active {
        background-color: $brown;
        color: #fff;
      }
    }
  }
}


// 日程
.sec_schedule {
  background-color: #F7F7F7;
  .sec_title + p {
    margin-top: 40px;
  }
}
@include res_min( $break ) {
  .sec_schedule {
    .sec_title + p {
      margin-top: 80px;
      text-align: center;
    }
  }
}

.schedule{
  overflow: hidden;
  margin-top: 25px;
  border: 2px solid $baseColor;
  border-radius: 20px;
  .schedule__item{
    padding: 30px 30px 25px;
    &:not(:first-of-type){
      border-top: 1px solid $baseColor;
    }
    .schedule__item__day{
      display: -ms-flexbox;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      .day_num{
        font-family: $ff-en;
        font-size: 28px;
        font-size: 2.8rem;
        font-weight: bold;
        line-height: 1;
        color: $mainColor;
      }
      .day_icon{
        display: flex;
        min-width: 138px;
        height: 29px;
        padding: 0 0 0 10px;
        border: 1px solid $mainColor;
        border-radius: 4px;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        &::before{
          width: 44px;
          height: 16px;
          content: '';
          background-repeat: no-repeat;
          background-position: center;
          background-size: auto 100%;
        }
      }
      .day_icon__text{
        font-size: 15px;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        letter-spacing: 0.1em;
      }
    }
    .schedule__item__name{
      font-size: 20px;
      font-size: 2rem;
      font-weight: 600;
      margin-top: 20px;
      letter-spacing: .05em;
    }
    .schedule__item__date{
      margin-top: 10px;
      padding-top: 15px;
      border-top: 1px solid $baseColor;
      .date_day{
        font-size: 18px;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: 0.1em;
      }
      .date_time{
        line-height: 1.5;
        margin-top: 2px;
        letter-spacing: 0.1em;
        & > div{
          display: flex;
          flex-wrap: nowrap;
          justify-content: flex-start;
          align-items: stretch;
        }
        dt{
          margin-right: 1em;
          white-space: nowrap;
        }
      }
    }
    .schedule__item__note{
      margin-top: 1em;
      padding: 1.2em 1.5em;
      background-color: #FCFAEF;
      border-radius: 4px;
      em{
        display: block;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: calc(26 / 16);
      }
      p{
        margin-top: 0.5em;
        line-height: calc(24 / 15);
      }
    }
    //個別
    &.schedule__item--01{
      background-color: #fff;
      .schedule__item__day{
        .day_icon{
          &::before{
            width: 20px;
            background-image: url(assets/img/icon-pc.svg);
          }
          .day_icon__text{
            color: $mainColor;
            flex-basis: calc(100% - 20px);
          }
        }
      }
    }
    &.schedule__item--02{
      background-color: #F5EFD4;
      .schedule__item__day{
        .day_icon{
          background-color: $mainColor;
          &::before{
            width: 28px;
            background-image: url(assets/img/icon-human.svg);
          }
          .day_icon__text{
            color: #fff;
            flex-basis: calc(100% - 28px);
          }
        }
      }
    }
  }
}
.schedule_after_program{
  margin-top: 15px;
  .sep_schedule{
    margin-top: 30px;
    text-align: center;
    img{
      width: 240px;
    }
    & + p{
      margin-top: 22px;
      letter-spacing: 0.1em;
    }
  }
  .schedule{
    .schedule__item{
      display: flex;
      padding: 24px 10px 24px 30px;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      .schedule__item__day{
        display: block;
        margin-right: 20px;
        white-space: nowrap;
      }
      .schedule__item__name{
        line-height: 1.5;
        margin-top: 0;
      }
    }
  }
}
@media only screen and (min-width: 768px){
  .schedule{
    max-width: 772px;
    margin-right: auto;
    margin-left: auto;
    .schedule__item{
      display: flex;
      flex-wrap: wrap;
      padding: 25px .5% 25px 4.5%;
      justify-content: flex-end;
      align-items: stretch;
      .schedule__item__day{
        display: block;
        align-self: center;
        .day_icon{
          margin-top: 8px;
        }
      }
      .schedule__item__name{
        margin-top: 0;
        padding: 0 2% 0 5%;
        align-self: center;
      }
      .schedule__item__date{
        @include flex(nowrap, center, stretch);
        flex-direction: column;
        height: auto;
        margin-top: 0;
        margin-left: auto;
        padding-top: 0;
        padding-left: 4%;
        border-top: none;
        border-left: 1px solid $baseColor;
        flex-basis: 45%;
        .date_day{
          width: 100%;
          text-align: left;
        }
      }
      .schedule__item__note{
        width: 100%;
        margin-top: 20px;
        margin-right: 4%;
        p{
          margin-top: 0.3em;
        }
      }
    }
  }
  .schedule_after_program{
    margin-top: 20px;
    .sep_schedule{
      & + p{
        text-align: center;
      }
    }
    .schedule{
      .schedule__item{
        .schedule__item__day{
          min-width: 138px;
          margin-right: 0;
          .day_num{
            margin-top: 2px;
          }
        }
      }
    }
    .indent_text{
      max-width: 768px;
      text-align: center;
    }
  }
}

.schedule_table {
  border-bottom: 1px solid #707070;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
  th, td {
    padding-top: 12px;
    vertical-align: text-bottom;
    line-height: 1.5;
  }
  .schedule_day,
  .schedule_day + .schedule_tit,
  .schedule_day + .schedule_tit + .schedule_data {
    border-top: 1px solid #707070;
  }
  .schedule_day {
    padding-right: 20px;
    white-space: nowrap;
    font-family: $ff-en;
    font-size: 2.4rem;
    color: #E5C61A;
    vertical-align: text-top;
  }
  .schedule_tit {
    padding-right: 20px;
    white-space: nowrap;
    &__place {
      & + .schedule_data {
        padding-bottom: 12px;
        p {
          font-weight: 600;
        }
      }
    }
  }
  .schedule_data {
    .data_day {
      font-size: 1.8rem;
    }
    .data_youbi {
      margin-left: -.5em;
      font-size: 1.8rem;
      letter-spacing: 0;
    }
    p {}
  }
}
@include res_min( $break ) {
  .schedule_table {
    margin-top: 90px;
    th, td {
      padding-top: 18px;
    }
    .schedule_day {
      width: 187px;
      padding-top: 0;
      padding-left: 20px;
      vertical-align: middle;
    }
    .schedule_tit {
      width: 3em;
      &__place {
        & + .schedule_data {
          padding-bottom: 18px;
        }
      }
    }
    .schedule_data {
      p {
        display: inline-block;
      }
    }
  }
}


// テーマ
.sec_theme {
  background-color: #EAEAEA;
}
.comming-soon{
  margin-top: 60px;
  text-align: center;
  & > p{
    font-size: 2.8rem;
    font-weight: 900;
    line-height: calc(50 / 28);
    letter-spacing: 0.1em;
    text-align: center;
  }
  .sub-text{
  }
  .main-text{
    margin-top: 0.4em;
    padding: 0.8em 1.6em;
    border: 2px solid $baseColor;
  }
}
@include res_min( $break ) {
  .comming-soon{
    margin-top: 70px;
    & > p{
      font-size: 3.2rem;
      line-height: 2;
    }
    .main-text{
      display: inline-block;
      margin-left: 0;
      margin-right: 0;
      padding: 11px 48px;
      span{
        margin-right: 1em;
      }
    }
  }
}


.theme-intro{
  margin-top: 25px;
  text-align: center;
  .theme-intro__title{
    display: inline-block;
    margin: 0 auto;
    padding: 0 0 0.2em 0.1em;
    font-size: min(7.4vw, 2.8rem);
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 0.1em;
    text-align: center;
    border-bottom: 5px solid $mainColor;
  }
  .theme-intro__text{
    margin-top: 20px;
  }
}
@include res_min( $break ) {
  .theme-intro{
    margin-top: 80px;
    .theme-intro__title{
      padding-bottom: 0.1em;
      font-size: 3.2rem;
      border-bottom: 5px solid $mainColor;
    }
    .theme-intro__text{
      text-align: center;
    }
  }
}

.theme{
  margin-top: 70px;
  &:first-of-type{
    margin-top: 50px;
  }
  .theme__title{
    border: 2px solid $mainColor;
    border-radius: 10px;
    background-color: #fff;
    .theme__title__num{
      font-size: 18px;
      font-size: 1.8rem;
      font-weight: 900;
      line-height: 1;
      letter-spacing: 0;
      padding: 17px 0;
      text-align: center;
      color: #fff;
      border-radius: 7px 7px 0 0;
      background-color: $mainColor;
    }
    .theme__title__hl{
      padding: 0 22px;
      text-align: center;
      .theme__title__hl__main{
        font-size: 28px;
        font-size: 2.8rem;
        font-weight: 900;
        line-height: 1.5;
        display: block;
        padding-top: 20px;
        padding-bottom: 15px;
        letter-spacing: 0.1em;
        color: $mainColor;
        border-bottom: 1px solid $mainColor;
      }
      .theme__title__hl__sub{
        font-size: 24px;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.8667;
        display: block;
        margin-top: 13px;
        letter-spacing: 0.1em;
        color: $baseColor;
      }
    }
    .theme__title__image{
      width: 240px;
      margin: 18px auto 0;
      padding-bottom: 18px;
    }
  }
  .theme__body{
    margin-top: 20px;
    .theme__body__other{
      margin-top: 20px;
      .theme__body__other__link{
        margin-top: 30px;
        & > p{
          font-size: 20px;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.5;
          letter-spacing: .05em;
          color: $mainColor;
        }
        .theme__body__other__link__item{
          display: block;
          margin-top: 10px;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px){
  .theme{
    margin-top: 80px;
    &:first-of-type{
      margin-top: 80px;
    }
    .theme__title{
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -ms-flex-align: stretch;
      align-items: stretch;
      .theme__title__num{
        display: -ms-inline-flexbox;
        display: inline-flex;
        padding: 0;
        border-radius: 7px 0 0 7px;
        -ms-flex-preferred-size: 16%;
        flex-basis: 16%;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
      .theme__title__hl{
        display: -ms-flexbox;
        display: flex;
            flex-direction: column;
        margin-right: auto;
        padding: 15px 0 15px 3.5%;
        text-align: left;
        -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
        -ms-flex-direction: column;
        -ms-flex-align: left;
        align-items: left;
        -ms-flex-pack: center;
        justify-content: center;
        .theme__title__hl__main{
          padding-top: 0;
        }
        .theme__title__hl__sub{
          margin-top: 12px;
        }
      }
      .theme__title__image{
        margin: -36px auto 0;
        padding-bottom: 0;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        -ms-flex: 0 0 236px;
            flex: 0 0 236px;
      }
    }
    .theme__body{
      display: -ms-flexbox;
      display: flex;
      margin-top: 35px;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-align: stretch;
      align-items: stretch;
      .theme__body__text{
        -ms-flex-preferred-size: 48.5%;
        flex-basis: 48.5%;
      }
      .theme__body__other{
        margin-top: .5em;
        -ms-flex-preferred-size: 48.5%;
        flex-basis: 48.5%;
        .theme__body__other__link{
          margin-top: 40px;
        }
      }
    }
  }
}


.theme_block {
  margin-top: 30px;
  &:not(:first-of-type) {
    margin-top: 50px;
  }
	.theme_block_title {
    font-size: 1.8rem;
    font-weight: 900;
    color: #61E049;
    letter-spacing: 0;
    overflow: hidden;
    position: relative;
    &::before {
      content: '';
      width: 100%;
      height: 2px;
      background-color: #61E049;
      position: absolute;
      right: -102px;
      top: 50%;
      transform: translateY(-50%);
    }
	}
	.theme_block_contents {
		.theme_block_contents_image {
      margin-top: 25px;
      text-align: center;
      h3 {
        font-size: 2.6rem;
        font-weight: 600;
        line-height: 1.6;
        text-align: left;
      }
      img {
        margin: 20px auto 0;
        width: 92.8%;
      }
		}
		.theme_block_contents_text {
      margin-top: 20px;
      p {
        letter-spacing: 0;
      }
		}
	}
}
@include res_min( $break ) {
  .theme_block {
    margin-top: 85px;
    &:not(:first-of-type) {
      margin-top: 50px;
    }
    .theme_block_contents {
      margin-top: 20px;
      @include flex(nowrap, space-between, stretch);
      .theme_block_contents_image {
        margin-top: 0;
        padding-right: 39px;
        flex-basis: 39%;
        text-align: left;
        h3 {
          font-size: 2.8rem;
        }
        img {
          margin-top: 30px;
          width: 88.6%;
        }
      }
      .theme_block_contents_text {
        margin-top: 0;
        flex-basis: 61%;
        p {
          letter-spacing: 0.1em;
        }
      }
    }
  }
}


// details
.sec_details {
  background-color: #EAEAEA;
  .inner {
    @include maxW(772);
  }
}
.details_block {
  border-top: 1px solid $baseColor;
  padding: 20px 0;
  &:first-of-type {
    margin-top: 35px;
  }
  &:last-of-type {
    border-bottom: 1px solid $baseColor;
  }
  .details_block_title {
    font-weight: 600;
    letter-spacing: 0.1em;
    color: $mainColor
  }
  .details_block_data {
    margin-top: 8px;
    line-height: 1.5;
    p {
      letter-spacing: 0;
      &:not(:first-child) {
        margin-top: .8em;
      }
    }
  }
}
@include res_min( $break ) {
  .details_block {
    @include flex(nowrap, flex-start, stretch);
    &:first-of-type {
      margin-top: 90px;
    }
    .details_block_title {
      padding-left: 10px;
      flex: 0 0 160px;
    }
    .details_block_data {
      margin-top: 0;
      p {
        letter-spacing: 0.1em;
        &:not(:first-child) {
          margin-top: .5em;
        }
      }
    }
  }
}

// mentor
.sec_mentor{
  background-color: #F7F7F7;
}

p.mentor_intro{
  margin-top: 30px;
}
@include res_min( $break ) {
  p.mentor_intro{
    margin-top: 85px;
    text-align: center;
  }
}

.mentor_block {
  display: block;
  margin-top: 12px;
  &:first-of-type{
    margin-top: 50px;
  }
  background-color: #fff;
  border: 2px solid $mainColor;
  border-radius: 10px;
  overflow: hidden;
  @include transition;
  &:hover{
    opacity: 0.8;
  }
  cursor: pointer;
	.mentor_block_main {
		.mentor_block_main_title {
      background-color: $mainColor;
      padding: 13px 10px 17px;
      font-size: 2.4rem;
      font-weight: 600;
      color: #fff;
      line-height: 1.4;
      letter-spacing: 0.1em;
      text-align: center;
		}
		.mentor_block_main_prof {
      padding: 20px;
      @include flex(nowrap, flex-start, stretch);
			.mentor_block_main_prof_image {
        flex: 0 0 100px;
			}
			.inner {
        width: 100%;
        padding-left: 18px;
        @include flex(nowrap, space-between, stretch);
        flex-direction: column;
				.mentor_block_main_prof_name {
          font-size: 2.2rem;
          font-weight: 600;
          letter-spacing: 0.1em;
				}
				.mentor_block_button {
          @include flex(nowrap, space-between, center);
          padding: 0 21px;
          width: 100%;
          height: 40px;
          border: 1px solid $mainColor;
          border-radius: 20px;
          white-space: nowrap;
          font-weight: 600;
          letter-spacing: 0.05em;
          color: $mainColor;
          position: relative;
          &::before,
          &::after{
            content: '';
            background-color: rgba($mainColor, 100);
            position: absolute;
            transition: background-color 0.1s;
          }
          &::before{
            width: 18px;
            height: 3px;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
          }
          &::after{
            width: 3px;
            height: 18px;
            right: 22px;
            top: 50%;
            transform: translateY(-50%);
          }
				}
			}
		}
	}
	.mentor_block_hide {
    display: none;
    margin: 0 20px;
    padding: 1em 0;
    border-top: 1px solid $mainColor;
    font-size: 1.4rem;
    line-height: calc(25 / 14);
    letter-spacing: 0;
    p{
      overflow-wrap: break-word;
      word-break: break-all;
    }
    a{
      display: inline;
      &:link, &:visited{
        text-decoration: underline;
        color: $mainColor;
      }
    }
	}

  //開閉
  &.is__open{
    .mentor_block_main_prof {
			.inner {
				.mentor_block_button {
          &::after{
            background-color: rgba($mainColor, 0);
          }
				}
			}
    }
  }
}
@include res_min( $break ) {
  .mentor_block {
    display: block;
    margin-top: 12px;
    &:first-of-type{
      margin-top: 25px;
    }
    .mentor_block_main {
      @include flex(nowrap, flex-start, stretch);
      .mentor_block_main_title {
        flex-basis: 40%;
        @include flex(nowrap, center, center);
        padding: 0 1em;
      }
      .mentor_block_main_prof {
        flex-basis: 60%;
        padding: 10px 25px 10px 28px;
        align-items: center;
        position: relative;
        &::after{
          opacity: 0;
          content: '';
          width: calc(100% - 30px);
          height: 1px;
          background-color: $mainColor;
          position: absolute;
          left: 15px;
          bottom: 0;
          @include transition;
        }
        .inner {
          width: 100%;
          padding-left: 28px;
          @include flex(nowrap, space-between, center);
          flex-direction: row;
          .mentor_block_main_prof_name {
            line-height: 1;
            white-space: nowrap;
          }
          .mentor_block_button {
            width: 135px;
          }
        }
      }
    }
    .mentor_block_hide {
      margin: 0;
      padding: 25px 30px;
      border-top: none;
    }

    //開閉
    &.is__open{
      .mentor_block_main_prof {
        &::after{
          opacity: 1;
        }
      }
    }
  }
}

// about obuse
.sec_about-obuse{
  background-color: #EAEAEA;
}

// news
.sec_news {
  background-color: #F7F7F7;
  .inner {
    padding-left: 42px;
    padding-right: 42px;
  }
}
.list_news {
  margin-top: 30px;
  .list_item {
    margin-top: 24px;
  }
  .list_item_link {
    display: block;
    border: 1px solid #E6E6E6;
    background-color: #fff;
    &:link, &:visited {
      color: #222222;
    }
  }
  .list_item_image {
    height: 0;
    padding-top: 52%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &.no_image {
      background-color: $baseColor;
    }
  }
  .list_item_title {
    padding: 15px 19px 0;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0;
  }
  .list_item_meta {
    padding: 18px 15px 19px 60px;
    background-image: url(./assets/img/img_logo-obuse.png);
    background-repeat: no-repeat;
    background-position: left 15px center;
    background-size: 35px;
    font-size: 1.3rem;
    line-height: 1.5;
    letter-spacing: 0;
    .list_item_meta_write {
      font-weight: 600;
    }
  }
}
@include res_min( $break ) {
  .list_news {
    margin-top: 80px;
    @include flex(nowrap, flex-start, stretch);
    .list_item {
      flex-basis: calc(33.333% - 18.667px);
      margin-top: 0;
      margin-right: 28px;
      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }
    .list_item_link {
      height: 100%;
      @include flex(nowrap, flex-end, stretch);
      flex-direction: column;
    }
    .list_item_meta {
      margin-top: auto;
    }
  }
}


// faq
.sec_faq{
  background-color: #EAEAEA;
}
.faq_block {
  display: block;
  border-top: 1px solid $baseColor;
  &:first-of-type {
    margin-top: 30px;
  }
  &:last-of-type {
    border-bottom: 1px solid $baseColor;
  }
	.faq_q {
    padding: 20px 50px 20px 12px;
    position: relative;
    cursor: pointer;
		.faq_q_title {
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.625;
      position: relative;
      @include flex(nowrap, flex-start, stretch);
      span {
        flex: 0 0 54px;
        font-family: $ff-en;
        font-size: 2.4rem;
        color: $mainColor;
        line-height: 1.2;
        letter-spacing: 0.1em;
      }
		}
		.tgl_closs {
      width: 22px;
      height: 3px;
      background-color: $baseColor;
      position: absolute;
      right: 10px;
      top: calc(50% - 3px);
      transition: .1s;
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: $baseColor;
        position: absolute;
        left: 0;
        top: 0;
        transform: rotate(90deg);
      }
      &.is_active {
        transform: rotate(180deg);
        &::after {
          content: none;
        }
      }
		}
	}
	.faq_a {
    display: none;
    padding: 20px 5px 20px 12px;
    border-top: 1px solid #999DB4;
    line-height: 1.6;
    position: relative;
    @include flex(nowrap, flex-start, stretch);
    span {
      flex: 0 0 54px;
      font-family: $ff-en;
      font-size: 2.4rem;
      font-weight: bold;
      line-height: 1.2;
      letter-spacing: 0.1em;
    }
    p {
      flex-basis: calc(100% - 54px);
    }
	}
}
@include res_min( $break ) {
  .faq_block {
    padding-left: 20px;
    &:first-of-type {
      margin-top: 60px;
    }
    .faq_q {
      .faq_q_title {
        span {
          flex: 0 0 65px;
        }
      }
    }
    .faq_a {
      span {
        flex: 0 0 65px;
      }
    }
  }
}


// sns
.link_sns {
  position: fixed;
  right: 15px;
  bottom: 20px;
  width: 32px;
  text-align: center;
  z-index: 9998;
  a {
    display: block;
    margin: 0 auto;
    &:not(:first-of-type){
      margin-top: 25px;
    }
    line-height: 1;
  }
  .link_sns_note {
    width: 29px;
  }
}
@include res_min( $break ) {
  .link_sns {
    right: 20px;
    bottom: 30px;
    width: 25px;
    a {
      &:not(:first-of-type){
        margin-top: 20px;
      }
    }
    .link_sns_note {
      margin-top: 20px;
      width: 22px;
    }
  }
}