// ----------------------------------------------------------------
// * Valiables
// ---------------------------------------------------------------
$break: 768;
$break2: 1024;
$maxsize: 932;
$baseFontSize: 15;

$ff-go: 'Noto Sans CJK JP', sans-serif;
$ff-en: 'Arvo', sans-serif;
$ff-num: 'Roboto', sans-serif;
$ff-icon: 'ForkAwesome';

$baseColor: #313131;
$mainColor: #B98966;
$keyColor: #d00101;
$linkColor: $baseColor;
$linkHoverColor: $baseColor;

$gray1: #B5B5B5;
$brown: #603B00;
$red: #FF3C3C;
$orange: #FFCE00;
$green: #59D821;